body {
    background-color: #121212;
    color: #e0e0e0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
h1 {
    text-align: center;
    padding: 20px;
}
#buttons-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

#buttons-container button {
    background: none;
    border: none;
    cursor: pointer;
    margin: 5px;
}

#buttons-container img {
    width: 50px;
    height: 50px;
    object-fit: contain;
}
button:hover {
    background-color: #9a67ea;
}
#news-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
.news-item {
    background-color: #1e1e1e;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.news-item h2 {
    margin-top: 0;
}
.news-item img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
}
.news-item a {
    color: #bb86fc;
    text-decoration: none;
}
.news-item a:hover {
    text-decoration: underline;
}
.fetch-timestamp {
    font-size: 0.8em;
    color: #aaaaaa;
    margin-top: 10px;
}
